# Terraform state
*.tfstate
*.tfstate.backup

# Terraform working directory
.terraform/

# Variable files
terraform.tfvars
*.tfvars

# Crash log
crash.log

# Lambda build files
lambda.zip
bootstrap

# Backend repository
tofunote-backend-go/

# インフラ構成図
構成図.drawio
.$構成図.drawio.bkp
